.top-row {
  padding-bottom: 5%;
}

.card-styles-main {
  border-radius: 10px;
}

.card-styles-last {
  border-radius: 10px;
}

.last-row {
  padding-top: 5%;
}

.description-style {
  font-size: 10px;
}

// .button-style {
//   border: none;
//   width: 120px;
// }